div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 62vh;
}

.btn {
    background-color: #3bb355;
    color: white;
}

.btn:hover {
    -webkit-box-shadow: 1px 1px 10px 1px #000000; 
    box-shadow: 1px 1px 10px 1px #000000;
}

