<div class="container">
    <h2 class="text-center">Create New Advert</h2>
    <form action="">
        <div class="mb-3">
            <label for="name" class="form-label fs-5">Advert Name</label>
            <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="Advert name">
        </div>

        <div class="mb-3">
            <label for="category" class="form-label fs-5">Category</label>
            <select type="select" class="form-select form-select-lg" id="category" name="category">
                <option value="" selected disabled>Select a Category</option>
                <option value="electronics">Electronics</option>
                <option value="vehicles">Vehicles</option>
                <option value="tools">Tools</option>
                <option value="gadgets">Gadgets</option>
                <option value="home">Home</option>
                <option value="garden">Garden</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label form-label fs-5">Image URL</label>
            <input type="text" class="form-control form-control-lg" id="image" name="image" placeholder="https://">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label fs-5">Advert Price</label>
            <input type="number" class="form-control form-control-lg" id="price" name="price"
                placeholder="Advert name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label fs-5">Advert Description</label>
            <textarea class="form-control form-control-lg" id="description" placeholder="Advert description"
                name="description" rows="15"></textarea>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-success btn-lg fs-4">Save</button>
        </div>
    </form>
</div>